---
import { getCollection } from "astro:content";
import client from "../../tina/__generated__/client";
import Page from "../../tina/pages/Page";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import CTA from '../components/sections/CTA.astro';

import config from '../content/config/config.json';

export async function getStaticPaths() {
	const page = await getCollection("page");

	return page
		.filter((p) => p.id !== "admin") // 🚨 exclude Tina admin
		.map((p) => ({
			params: { slug: p.id },
			props: {
				getTinaProps: async () =>
					client.queries.page({
						relativePath: p.data.tinaInfo.relativePath,
					}),
			},
		}));
}


const { getTinaProps } = Astro.props;

const data = await getTinaProps();
const blocks  = data.data.page.blocks;





{blocks && blocks.map((block) => {
  if (!block) return null;

  if (block.__typename === 'PageBlocksCta') {
    return <CTA 
      heading={block.heading} 
      subheading={block.subheading} 
      buttonText={block.buttonText} 
    />;
  }
  
  return null;
})}





---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={data.data.page.seoTitle} description={config.seo.description} />
	</head>
	<body>
		<Header />
		<Page {...data} client:tina />
		<Footer />
	</body>
</html>