---
import "../styles/global.css";
import NewNav from "../components/navigation/NewNav.astro";
import Footer from "../components/ui/Footer.astro";
import { client } from '../../tina/__generated__/client';

// 1. Fetch Global Config (Nav, Social, Global SEO)
const response = await client.queries.config({ relativePath: 'config.json' });
const siteSettings = response.data.config;
const navItems = siteSettings.nav;
const socialLinks = siteSettings.contactLinks;
const navStyles = siteSettings.navigationSettings; // Our new settings object
// 2. Fetch Page Data based on URL
const { slug } = Astro.params;
const path = slug ? `${slug}.md` : 'home.mdx';
const pageresponse = await client.queries.page({ relativePath: path });
const pageContent = pageresponse.data.page;

// 3. SEO Logic (Using the variables we just created above)
const metaTitle = pageContent.seo?.title || siteSettings.seo?.title || "LighterDay";
const metaDescription = pageContent.seo?.description || siteSettings.seo?.description || "Default Description";
const canonicalURL = new URL(Astro.url.pathname, Astro.site || "https://example.com");
const shareImage = pageContent.seo?.image || siteSettings.seo?.image || "/images/og.jpg";


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={shareImage} />

    <!-- Twitter -->
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:image" content={shareImage} />

    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
   <NewNav 
      navData={navItems} 
      socialData={socialLinks} 
      styles={navStyles} 
    />
    
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
